
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;

  --morph-color-primary: #F35D8B;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-9));
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

::-webkit-scrollbar { width: "0.5rem" }
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-4));
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}